#tess{
	width: 200px;
	height: 200px;
	transition-property: width, ;
	transition-duration: 5s;
	margin-top: 100px;
}
#tess img{
	width: 200px;
	height: 200px;
}
#tess:hover{
	width: 500px;
	height: 500px;
}


